<%- unless details.one_day? %>
<%= textilize(details.location) %>
<%= textilize(details.description) %>
<%- else -%>
<div class="span-6">
<%= textilize(details.location) %>
<%= textilize(details.description) %>
</div>

<div class="span-6 last">
  <%= event_times(details) %>
</div>
<%- end -%>