<p>
  <strong>Starts</strong><br />
  <%= event_details.start_on.in_time_zone(event_details.timezone).strftime('%A, %B %d %Y') %>
</p>
<%- unless event_details.one_day? %>
  <% if event_details.end_on %>
  <p>
    <strong>Ends</strong><br />
    <%=  event_details.end_on.in_time_zone(event_details.timezone).strftime('%A, %B %d %Y') %>
  </p>
  <% end %>
<%- else -%>
  <%= render :partial => 'events/times', :object => times_with_zones(event_details) %>
<%- end -%>
<% unless event_details.location.blank? %>
<p>
  <strong>Location</strong><br/>
  <%= textilize_without_paragraph event_details.location %>
</p>
<% end %>

<% unless event_details.description.blank? %>
<p>
  <strong>Description/Other Details</strong><br />
  <%= textilize_without_paragraph event_details.description %>
</p>
<% end %>