<ul class="events">
  <% events.group_by(&:start_year).each do |year, years_events| %>
  <li><span class="collapsible open"><%= year %></span>
    <ul>
      <% years_events.group_by(&:start_month).each do |month, months_events| %>
      <li><span class="collapsible closed"><%= month %></span>
        <ul>
          <% months_events.each do |event| %>
          <li>
            <p class="collapsible closed"><%= link_to event.name, event_path(event) %> (<%= event.start_on.strftime("%a") %> <%= event.start_day.ordinalize %>)</p>
            <%- if event.one_day? -%>
            <%= render :partial => 'events/one_day_list_event', :object => event %>
            <%- else -%>
            <%= render :partial => 'events/multi_day_list_event', :object => event %>
            <%- end -%>
          </li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>  
