<h1>Adding Attendees/Participants to Event: <%= @event.name %></h1>

<% form_tag add_contacts_event_path(@event) do %>
  <table class="nice_table">
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th></th>
    </tr>

  <% @contacts_not_in_group.each do |contact|  %>
    <tr>
      <td><%= link_to contact.name, :action => 'edit', :id => contact %></td>
      <td><%= contact.email %></td>
      <td><%= check_box_tag "contact_ids[]", contact.id %></td>
    </tr>
  <% end %>
    <tr>
      <td colspan="3" style="text-align:right">
        <%= submit_tag "add selected contacts to this event" %>
      </td>
    </tr>
  </table>
<% end %>

<%= render :partial => 'sidebar' %>
