<% submission_path = @link.new_record? ? event_links_path(@event) : event_link_path(@event, @link) %>
<div style="width: 550px;">
<%= semantic_form_for(@link, :url => submission_path) do |form| %>
  <%= form.inputs do %>
    <%= form.input :name, :hint => "Your External Resource" %>
    <%= form.input :url, :label => 'URL', :hint => "some.domain.tld or http://some.dom..." %>
    <%= form.submit %>
  <% end %>
<% end %>

</div>
